.app {
  background: #edecebbd;
}

.nav-container {
  width: 90%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
}

.logo {
  width: 20%;
}

.logo > img {
  width: 100px;
  height: 50px;
  cursor: pointer;
}

.lists {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* width: 80%; */
}

.lists > ul {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.lists > ul li {
  list-style-type: none;
}

.lists > ul > li a {
  padding: 8px 15px;
  text-decoration: none;
  color: #1B0E5E;
  font-weight: 500;
  font-size: 15px;
  text-transform: capitalize;
}

.lists > ul > li a:hover {
  color: #FA7F08;
  transition: all 0.3s ease;
}

.lists > ul > button:nth-child(6) {
  padding: 8px 10px;
  width: 110px;
  background: #1B0E5E;
  color: #ebecfa;
  outline: 0;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
  border: 1px solid transparent;
  transition: all 0.3s ease;
  margin-right: 15px;
}

.lists > ul > button:nth-child(6):hover {
  background: transparent;
  border: 1px solid #1B0E5E;
  color: #1B0E5E;
}

.lists > ul > button:nth-child(7), .text-section > button:nth-child(5), .card > button {
  width: 110px;
  color: #1B0E5E;
  padding: 8px 10px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  z-index: 0;
  background: transparent;
  overflow: hidden;
  border: 1px solid #1B0E5E;
}

.lists > ul > button:nth-child(7):hover, .text-section > button:nth-child(5):hover, .card > button:hover {
  color: #ebecfa;
  border: 1px solid #1B0E5E;
}

.lists > ul > button:nth-child(7):hover:after, .text-section > button:nth-child(5):hover:after, .card > button:hover:after {
  width: 100%;
}

.lists > ul > button:nth-child(7):after, .text-section > button:nth-child(5):after, .card > button:after {
  content: "";
  position: absolute;
  z-index: -1;
  transition: all 0.3s ease;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  background: #1B0E5E;
}

.hero-section {
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-container {
  width: 85%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.text-section {
  width: 60%;
}

.img-section {
  width: 40%;
  position: relative;
}

.text-section > h1 {
  font-size: 55px;
  color: #120844;
  width: 40vw;
  margin-bottom: 1rem;
}

.text-section > p {
  font-weight: 600;
  line-height: 2;
  color: #000;
  width: 65%;
  margin-bottom: 1rem;
}

.track-id {
  margin-bottom: 1rem;
}

.track-id > input {
  width: 40%;
  padding: 10px;
  border: 1px solid transparent;
  outline: 0;
  background: #ebecfa;
  margin-right: 15px;
  border-radius: 5px;
  color: #1B0E5E;
  font-weight: 600;
  transition: all 0.3s ease;
}

.track-id > input:focus {
  border: 1px solid #1B21A6;
}

.track-id > input::placeholder {
  color: #3d46f280;
  font-weight: 600;
}

.track-id > button, .text-section > button:nth-child(4) {
  padding: 10px;
  width: 110px;
  border: 1px solid transparent;
  outline: 0;
  color: #ebecfa;
  font-weight: 600;
  background: #1B0E5E;
  transition: all .3s ease;
  border-radius: 5px;
  cursor: pointer;
}

.track-id > button:hover, .text-section > button:nth-child(4):hover {
  background: transparent;
  border: 1px solid #1B0E5E;
  color: #1B0E5E;
}

.text-section > button:nth-child(4) {
  margin-right: 15px;
}

.img-section > img:nth-child(1) {
  width: 100%;
  height: 500px;
  object-fit: cover;
  transform: rotate(90deg);
  filter: grayscale(25%);
  border-radius: 5px;
}

.img-section > img:nth-child(2) {
  width: 75%;
  transform: rotate(360deg);
  position: absolute;
  left: 200px;
  right: 0;
  z-index: -1;
  top: 9px;
  filter: grayscale(70%);
}

.delievry-container, .activity-container {
  width: 85%;
  margin: auto;
  margin-top: 5rem;
}

.delievry-container > h3 {
  color: #120844;
  font-size: 30px;
  text-transform: capitalize;
  margin-bottom: 2rem;
  text-align: center;
}

.card-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: space-around;
}

.card {
  width: 22%;
  padding: 20px;
  background: #ffffff;
  border: 1px solid transparent;
  transition: all .3s ease;
  filter: drop-shadow(1px 1px 3px #fac18749);
}

.card:hover {
  border: 1px solid #FA7F08;
}

.card > i {
  font-size: 30px;
  color: #120844;
  margin-bottom: 1rem;
}

.card > h4 {
  color: #FA7F08;
  margin-bottom: 1rem;
}

.card > p {
  font-weight: 400;
  line-height: 1.7;
  margin-bottom: 1rem;
}

.value-container {
  background: #120844;
  padding: 15px;
  margin-top: 3rem;
}

.val-content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 85%;
  margin: auto;
}

.val > i {
  color: #ebecfa;
  font-size: 35px;
  margin-bottom: 0.6rem;
}

.val > p:nth-child(2) {
  color: #3D46F2;
}

.val > p:nth-child(3) {
  color: #FA7F08;
  font-weight: 600;
}

.download-section {
  margin-top: 5rem;
  background: #FA7F08;
  padding: 15px 0;
}

.download-container {
  width: 85%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.word-content {
  width: 60%;
}

.word-content > h3 {
  color: #ebecfa;
  font-size: 30px;
  width: 60%;
  margin-bottom: 1rem;
}

.word-content > h6 {
  color: #120844;
  font-size: 20px;
  margin-bottom: 1rem;
}

.word-content > p {
  font-weight: 500;
  width: 60%;
  line-height: 1.8;
}

.download-img {
  width: 45%;
}

.download-img > img {
  width: 100%;
  border-radius: 50%;
  height: 30rem;
  object-fit: cover;
}

.download {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 60%;
  gap: 1.5rem;
  margin-top: 1rem;
}

.apple {
  background: rgb(83, 83, 83);
  width: 50%;
  padding: 7px 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid transparent;
  cursor: pointer;
  transition: all .3s ease-in-out;
}

.apple > i {
  color: #000;
  font-size: 30px;
}

.apple > span > p:nth-child(1), .playstore > span > p:nth-child(1) {
  color: #ebecfa;
  font-size: 13px;
  font-weight: 400;
}

.apple > span > p:nth-child(2), .playstore > span > p:nth-child(2) {
  font-size: 18px;
  color: #FA7F08;
  font-weight: 700;
}

.playstore {
  background: #000;
  width: 50%;
  padding: 7px 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  border: 1px solid transparent;
  transition: all .3s ease-in-out;
}

.apple:hover, .playstore:hover {
  border: 1px solid #ebecfa;
}

.playstore > i {
  font-size: 30px;
  color: #ebecfa;
}

.activity-container > h2 {
  color: #120844;
  font-size: 30px;
  text-transform: capitalize;
  margin-bottom: 2rem;
  width: 25vw;
}

.activity-container > h2 > span {
  color: #FA7F08;
}

.footer-section {
  background: url(/public/assets/hero-img3.jpg);
  background-size: cover;
  margin-top: 5rem;
  position: relative;
  background-position-y: center;
  /* filter: grayscale(60%); */
}

.footer-section::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #1208449f;
}

.footer-container {
  width: 85%;
  margin: auto;
  padding: 15px 0;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
  z-index: 999;
}

.sec-1 > p {
  color: #FA7F08;
  font-weight: 500;
  font-size: 14px;
  margin-top: 1.5rem;
}

.sec-2 {
  display: flex;
  width: 70%;
  justify-content: space-between;
}

.sec-2 > div > h6, .sec-3 > h6 {
  color: #FA7F08;
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 1rem;
}

.sec-2 > div > span > li {
  list-style-type: none;
  margin: 14px 0;
  color: #ebecfa;
  font-size: 13px;
  cursor: pointer;
  transition: all .3s ease;
}

.sec-2 > div > span > li:hover {
  color: #FA7F08;
}

.sec-3 > div > a {
  text-decoration: none;
}

.sec-3 > div > a > i {
  color: #120844;
  font-size: 25px;
  margin: 0 7px 0 0;
  transition: all .3s ease;
}

.sec-3 > div > a > i:hover {
  color: #FA7F08;
}